.header{
    height: 4rem;
}
.header h1{
    color: white;
}
.book_form_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input_container {
  border: 1px solid lightgrey;
  padding: 1%;
  width: 25%;
  outline: none;
  margin: 5px;
  border-radius: 5px;
  resize: vertical;
}

.input_submit {
  border: none;
  background-color: black;
  color: white;
  padding: 1% 4%;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 0 0 4px white;
  width: 15%;
  margin: 1%;
}

.input_submit:hover {
  box-shadow: 0 0 2px black;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.article__container{
    width: 25%;
    box-shadow: 0 0 4px lightgray;
    display: grid;
    place-items: left;
    gap: 1rem;
    padding: 3rem 1rem;
}
.article__container p{
    text-align: left;
}
.cart__button{
    background-color: black;
    color: white;
    border-radius: 0.2rem;
    padding: 4% 1%;
    width: 6rem;
    transition: all .2s ease-in-out;
}
.cart__button:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 7px lightgray;
}
@media (max-width: 800px) {
    .article__container {
            width: 40%;
        }
}
@media (max-width: 600px) {
    .article__container {
            width: 100%;
        }
}
.search{
    background-color: white;
    padding: 0.6rem 1rem;
}
.searchBar{
    max-width: 80rem;
    height: 2rem;
    padding-left: 0.4rem;
}
.Return__Home{
    font-size: 1.2rem;
    text-decoration: none;
    margin: 2%;
    color: black;
    display: flex;
    align-items: center;
}
.InputNumber{
    display: block;
    width: 4rem;
    height: 2rem;
    border: 1px solid lightgray;
    margin: 0.7rem auto;
}